vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

transform()
  vendor('transform', arguments)

custom-center(w,h)
  position: absolute
  top: 50%
  left: 50%
  width: w
  height: h
  margin-left: -(@width / 2)
  margin-top: -(@height / 2)

